.title1-size{
    font-size:42 px !important;
    font-family:Microsoft Yahei !important;
    serif !important;
}

.content-size{
    font-size:26 px !important;
    font-family:Microsoft Yahei !important;
    serif !important;
}